body {
    background-color: lightgray;
}
h1 {
    color: lightsteelblue;
    background-color: Tomato;
    padding: 70px;
    margin: 75px;
    text-align: center;
}
h3 {
    color: red;
    background-color: blueviolet;
    padding: 50px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

ul {
    background-color: green;
    border-radius: 0;
    border-width: 20px;
}

li {
    color: aquamarine;
}

p {
    text-align: center;
}

div {
    color: darkgoldenrod;
    background-color: black;
}
.extreme {
    text-align: center;
    background-color: cornsilk;
}
#tehlulz {
    font-weight: 400;
}
.content{
    font-style: italic;
}
.prose{
    text-align: center;
    border: 20px solid cornflowerblue;
}
#head1 {
    margin: auto;
}
.navzone a:hover{
    position: absolute;
    color: fuchsia;
    font-style: italic;
    font-weight: 900;
}