body {
    background-color: burlywood;
}
h2 {
    color: red;
    background-color: blueviolet;
    padding: 50px;
    margin: 150px;
    text-align: center;
    border-radius: 100%;
    border-width: 20px;
}
a {
    color: Tomato;
    background-color: lightsteelblue;
    text-align: center;
}
h3 {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

li {
    background-color: green;
}

ul {
    color: aquamarine;
}

p {
    text-align: center;
}